*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    padding: 20px;
    background: #3b6ea1;
    justify-items: end;
}

.navbar ul{
    display: flex;
    padding: 20px;
}
.navbar ul li{
    padding: 20px;
}